<%-include('header');%>
<main>
    
    <div class="main">
        <img class="display" src="https://t3.ftcdn.net/jpg/03/20/68/66/360_F_320686681_Ur6vdYQgDC9WiijiVfxlRyQffxOgfeFz.jpg" alt="Shopping"></div>
        <h3>More item to consider <a href="/product">see more></a></h3>
<div class="cards">
  
<div class="card1">
    <a href="/product/laptop">
    <img class="cardimg" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Tablets/Jupiter20/Category/High-Performance_440x460.jpg" alt=""></a>
    
</div>
<div class="card1">
   <a href="/product/earphone"> <img class="cardimg" src="https://m.media-amazon.com/images/I/51sfwTiuHnL._SX679_.jpg" alt=""></a>
</div>
<div class="card1">
   <a href="/product/watch"><img  class="cardimg" src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wearables/CrossBeats/Ingite/Ngage/Ingress/Banners/Notify_me_Mustard_670x645.jpg" alt=""> </a>
</div>
<div class="card1">
   <a href="/product/smartphone"> <img  class="cardimg" src="https://m.media-amazon.com/images/I/31S-tMCFeRL._AC_SR320,320_.jpg" alt=""></a>
</div>
<div class="card1">
    <a href="/product/earphone"><img class="cardimg" src="https://m.media-amazon.com/images/I/41H6Le9nO0L._AC_SR320,320_.jpg" style="" alt=""> </a>
</div>

</div>
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wearables/Page/Revised/Header/Updated/Smartwatches_1500X200_Rev.jpg" alt="">






<img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/VGSW/PostAug22/PlayStation_Spider-Man_Web-Banners_Amazon_1500x300._CB629420916_.jpg" alt="">

<hr>
<div class="login_home">
<h4>See personalized recommendations</h4>
<a class="login" href="/login/user">Log in</a>
<h4>New customer? <a href="/login/user"> Start here</a></h4>

</div>

<hr>
</main>
    <%-include('footer');%>